// Responsive table
.table {
  width: 100%;
}

@media screen and (max-width: $desktop) {
  .table {
    table-layout: fixed;
    word-wrap: break-word;
  }
}

// Table navigation
.table tbody tr.nav-focus {
  background: $light;
  cursor: pointer;

  input[type=checkbox] {
    cursor: pointer;
  }
}

// Only element inside .field.has-addons must have border radius
.field.has-addons .control:first-child:last-child {
  .button, .input, .select select {
    border-radius: 2px;
  }
}

// Box mutations
.box{
  &.is-active {
    background-color: $blue;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px $blue;
    color: $white;
  }

  &.is-small {
    border-radius: 2px;
    padding: 0.5em 0.75em;
  }
}

// Ignore margin right for is-fullwidth buttons
.buttons .button.is-fullwidth:not(:last-child) {
  margin-right: 0;
}

// Full width modifier to all elements
.is-fullwidth {
  width: 100%;
}

.button.is-info {
  .title, .subtitle {
    color: white;
  }
}

.button.is-fancy {
  background-color: $pink;
  border-color: transparent;
  color: $white;
}
