.navbar {
  margin-bottom: 25px;
}

.navbar-dropdown-right {
  left: auto;
  right: 0;
}

.header-user-avatar {
  border-radius: 50%;
  margin-right: 10px;
}

@media screen and (max-width: $desktop) {
  .header-user-avatar {
    margin-bottom: -8px;
  }
}
