.table tbody tr.nav-focus {
  background: $light;
  cursor: pointer;

  input[type=checkbox] {
    cursor: pointer;
  }
}

@media screen and (max-width: $desktop) {
  .table {
    table-layout: fixed;
    word-wrap: break-word;
  }
}
