.meeting-options {
  margin-left: 6px;

  &.has-addons {
    display: inline-flex;
    position: relative;
    vertical-align: top;

    .control .button {
      z-index: 1;

      &:hover {
        z-index: 2;
      }
    }

    .dropdown .dropdown-trigger .button {
      border-radius: 0 2px 2px 0;
      z-index: 0;

      &:hover {
        z-index: 2;
      }
    }
  }
}
