<%= for attendant <- @attendants do %>
  <tr class="js-attendant">
    <td class="attendant-present-column">
      <input
        type="checkbox"
        class="js-attendant-is-present"
        data-id="<%= attendant.id %>"
        <%= if attendant.is_present, do: "checked" %> />
    </td>
    <td><%= attendant.person.name %></td>
    <td><%= attendant.person.email %></td>
  </tr>
<% end %>
