<%= for person <- @people do %>
  <tr class="js-person">
    <td class="person-present-column">
      <input
        type="checkbox"
        class="js-person-is-present"
        data-person-id="<%= person.id %>"
        <%= if Person.present?(person, @service), do: "checked" %> />
    </td>
    <td><%= person.name %></td>
    <td><%= person.email %></td>
  </tr>
<% end %>
