<h1 class="title has-text-centered"><%= gettext("Edit Meeting Occurrence") %></h1>

<%= render "form.html",
  conn: @conn,
  changeset: @changeset,
  current_user: @current_user,
  action: Routes.meeting_occurrence_path(
    @conn,
    :update,
    @current_user.church.slug,
    @changeset.data
  ) %>
